# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = true

# Wait 10 milliseconds for starship to check files under the current directory.
scan_timeout = 10

[character]
success_symbol = '[󱟬](bold green)'
error_symbol = "[󱠫](bold red)"
vicmd_symbol = "[󱟒](bold magenta)"

[aws]
disabled = true

[directory]
read_only = "(read only)"
